.DS_Store
**/.log/*
**/*.log
**/*.zip
**/*.csv
**/*.pkl
**/*.onnx
**/features/
**/figures/
**/model_output/
**/output/
**/eda_output/
**/.ipynb_checkpoints/*
**.png
**.jpg
__pycache__
dist/
.mypy_cache/
.idea/
.vscode/
